<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>GameSterGram</title>
  </head>
  <body>
    <h1>welcome "req.session.username"</h1>
    <a href="#"> a link to req.session.username's dashboard /app/username/dashboard</a>
  </body>
</html>
